<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.pauenrech.ejerciciocontentprovider">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity
                android:name=".MainActivity"
                android:label="@string/app_name"
                android:theme="@style/AppTheme.NoActionBar"
                android:configChanges="orientation"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <meta-data
                android:name="preloaded_fonts"
                android:resource="@array/preloaded_fonts"/>

        <activity
                android:configChanges="orientation"
                android:screenOrientation="portrait"
                android:name=".ChangeDataActivity"
                android:theme="@style/AppTheme.NoActionBar.ChangeActivity">
        </activity>
        <provider
                android:name=".provider.MyContentProvider"
                android:authorities="com.pauenrech.ejerciciocontentprovider.MyContentProvider"
                android:enabled="true"
                android:exported="true">
        </provider>
    </application>

</manifest>